<div>
  <form [formGroup]="PenaltyForm" (ngSubmit)="onSubmit()">


    <div class="mb-3">
      <label class="form-label">Select Country</label>
      <select formControlName="country" class="custom-select mb-3">
        <option *ngFor="let country of countriesList" [ngValue]="country" class="form-control">{{country}}</option>
      </select>
    </div>
      <div class="mb-3">
        <label class="form-label">Check In Date</label>
        <input type="date" class="form-control" formControlName="checkIn" />
      </div>

      <div class="mb-3">
        <label class="form-label">Return Date</label>
        <input type="date" class="form-control" formControlName="return" />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>


  </form>
</div>
